{% extends 'base.html' %}

{% block 'change_password_form' %}
    <div class="col-md-12 white_background">
    {% include "userprofile/settings_sidebar.html" %}
        <div class="col-md-10">

            <form method="POST" action="change_password">
                {% csrf_token %}
                {{form.as_p}}
                <!-- <p>Current Password:<br/><input type="password" name='current_password' placeholder="Current password" /></p>
                <p>New Password:<br/><input type="password" name='new_password' placeholder="New password" /> </p>
                <p>Repeat password:<br/><input type="password" name='new_password_2' placeholder="New password again" /></p>
                <p><input type="submit" value="Change Password"/></p> -->
            </form>    
            </div>

    </div>
{% endblock %}