{% extends "base.html" %}

{% block 'change_account_name' %}
<div class="col-md-12 white_background">

  {% if formError %}
<div class="alert alert-danger " role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
      {% for i in formError %}
        {{i}}
      {% endfor %}
  </div>

  {% endif %}

  <form action="{% url 'change_account_name' accountId %}" method="POST">
    {% csrf_token %}

    {{form.accountName}}
    <input type="submit" name="name" value="Rename">
  </form>
</div>
{% endblock %}
