{% extends 'base.html' %}

{% block 'budgeting_info' %}
    <div class="col-md-12 white_background">
        <h1>Budgeting</h1>
        <h2>Take control of your money</h2>
        <p>Start calculating your incomings and outgoings, and you could end up saving yourself a small fortune. And with your finances under control you can
         <strong>save for the future, avoid getting into debt</strong> and <strong>pay your bills.</strong>
         <p>Starting to budget can be hard initially, but it’s worth it. In this video, Reeta from Lloyds Bank talks you through the practicalities of setting your budget. You can find out more in our guides to budgeting.<br/><a href="http://www.lloydsbank.com/help-guidance/financial-planning/budgeting.asp">Lloyds Budgeting Page</a></p>
        </p>
        <p>To arrange an appointment with a Financial Adviser, call us on <strong>0800 015 0029</strong>.</p>
        <p>Lines are open 8am-8pm Monday to Friday and 8am-4pm Saturday.</p>
        <h2>Banking Terms and Sayings</h2>
        <h3><strong>Account balance</strong></h3>
        <p>he amount of money you have in your account at a particular time. Sometimes a balance will include payments that have been made to your account, but are not yet available because they haven’t cleared. This means that the money has not been received by the bank and is not available to spend. The money which has cleared and that you can spend is sometimes called your <strong>available funds</strong> or <strong>available balance</strong>.</p>
        <h3>Added Value Account</h3>
        <p>An Added Value Account is a current account that offers a package of additional benefits for a monthly account fee. These accounts typically include travel insurance, AA Breakdown Cover and mobile phone insurance.</p>
        <h3>EAR</h3>
        <p>EAR is the Equivalent Annual Rate. This is the actual annual rate of an overdraft. It doesn't take into account other fees and charges.</p>

        <h1>Banking information for students:</h1>
        <h2>Basic student banking</h2>
        <h3>Funding your studies</h3>

        <ul>

            <li>Get a student account with an <strong>interest-free overdraft</strong> to give you more financial flexibility.</li>
            <li>Credit cards can be a good way to spread the cost of expensive items, as long as you can pay them off every month.</li>
            <li>Taking out a student loan is one of the cheapest ways to borrow money <strong>long-term</strong> and you don’t have to pay it back until you are earning over £21,000.</li>
            <li>A graduate account can help ease you into your working life by gradually phasing out your <strong>interest-free overdraft</strong>.</li>

        </ul>

        <p>As a student, a great way to control your finances is to get as much advice and support as possible. Of course, that means talking money and bank accounts, but it also means looking at your lifestyle, too.</p>
        <p>There are so many different bank accounts and financial products available, it can be difficult to know the best one to pick when you're a student. Here are some things you should look out for:</p>

        <table>
            <tr>
                <th>Student accounts</th>
                <th>Credit Cards</th>
                <th>Overdrafts</th>
            </tr>

            <tr>
                <td style="background-color:#ececec;">These bank accounts are specifically designed for students, so often include an interest-free overdraft. They also commonly include gifts or discounts for things that students use a lot or just like. But it's important to also look beyond the freebies.</td>
                <td>These can be a convenient way to manage your money when used appropriately. There's usually an interest free period, so if you can pay them off every month, that's great. They can also help spread the cost of expensive items.
</td>
                <td style="background-color:#ececec;">If you take out more money from your current account than you actually have in it, you will become overdrawn. If this happens and you do not have an overdraft facility on your account, you may be charged a fee. This is usually referred to as an unauthorised overdraft.</td>
            </tr>
        </table>

        <h2>Good and Bad Debt</h2>
        <p>With the advent of government-sponsored debt in the form of student loans, it is now common for most students to have some debt. But the real danger of this is that students might begin to view all debts as the same, when in fact they aren't. That's why it's important to understand what's meant by the terms 'good debt' and 'bad debt'.</p>
        <p>A good debt might include something like a student loan because the interest so low. Obviously, no one wants to be in debt, but with loans such as these, remember that you are investing in your future.</p>
        <p>Bad debt is the kind you get with high interest loans or store cards where the interest could be anywhere from around 5% up to 30% a year. Don’t forget, if you have a credit card and you pay your balance off before the required date, you won’t be charged interest. Most credit cards offer up to 56 days interest-free, so check with your provider to find out how many days they offer.</p>
        <h2>Student loans and debt</h2>
        <h3>Funding your studies</h3>

        <ul>

            <li>Get a student account with an <strong>interest-free overdraft</strong> to give you more financial flexibility.</li>
            <li>Credit cards can be a good way to spread the cost of expensive items, as long as you can pay them off every month.</li>
            <li>Taking out a student loan is <strong>one of the cheapest ways to borrow money long-term</strong> and you don’t have to pay it back until you are earning over £21,000.</li>
            <li>A graduate account can help ease you into your working life by gradually phasing out your <strong>interest-free overdraft</strong>.</li>

        </ul>
        <p>As a student, a great way to control your finances is to get as much advice and support as possible. Of course, that means talking money and bank accounts, but it also means looking at your lifestyle, too.

There are so many different bank accounts and financial products available, it can be difficult to know the best one to pick when you're a student. Here are some things you should look out for:</p>
        <h3>Borrowing to go to uni</h3>

        <p>With the introduction of student loans, it’s become common for students to have some debt. Understand how student loans work and when you’ll need to pay them back.</p>
        <table>
            <tr>
                <th>Student fees</th>
                <th>Student Account</th>
            </tr>

            <tr>
                <td>Get the latest loans, bursaries and maintenance grants information.
http://www.slc.co.uk</td>
                <td>See <a href="{% url 'student_account' %}">Student Account Page</a></td>
            </tr>
        </table>


        <h2>Student money tips</h2>
        <h3>Budget power</h3>
        <ul>
            <li>Set yourself a weekly budget.</li>
            <li>Take out a fixed weekly or daily allowance to help you stick to your budget.</li>
            <li>Save money by eating at home as much as possible.</li>
            <li>Resist the urge to splurge and make your money last until the end of term.</li>
            <li>Keep an eye out for bargains and take advantage of vouchers and student discounts.</li>
        </ul>

        <p>University could be the first time you have to manage your own money, but don't worry, it's straightforward if you have a budget.
Just take a little time to go through your income and outgoings - perhaps with a parent or guardian, if you're not sure how to begin. Or, you could keep a weekly spending diary to see where you could cut back.
Cutting back in one area might mean you’re able to spend more money in a way you really want. Either way, it will help you to be realistic about your finances right from the start, and save you loads of trouble.</p>

        <h2>Making your money last </h2>
        <table>
            <tr>
                <th>Know your limits</th>
                <th>Give yourself pocket money</th>
                <th>Be wallet aware</th>
            </tr>

            <tr>
                <td>University is the perfect time to make friends and experience new things, but it's tempting to throw caution to the wind and overspend when you're socialising. When you're having a great time hanging out with your mates, don't feel embarrassed to say no to that extra drink or that visit to a club if you feel it will be a waste of money. A little willpower can go a long way and your friends might even thank you for controlling their spending, as well.</td>
                <td>Just as your parents may have given you a weekly or monthly allowance, this strategy will help you begin to think about and control your spending.

Try this: On the same day each week, take out a fixed amount of money to cover your weekly expenses. Each weekly withdrawal must be for the same amount. This way you regularise your outgoings. If you start running low on funds you will, by necessity, begin to alter your spending. Having physical money go through your hands can make you realise how much you’re spending, too.</td>
                <td>If you're a sucker for an afternoon latte or tend to get cash-happy on a night out at the pub, ration your cash on a daily basis. Not only will this stop you getting that final round in and blowing tomorrow's money, it will also allow you to save in advance for a special occasion.</td>
            </tr>

        </table>

        <h2>Easy way to save money</h2>

        <table>
            <tr>
                <th>Dinner at ‘Chez-Moi’</th>
                <th>Second-hand chic</th>
                <th>Bank those benefits</th>
            </tr>

            <tr>
                <td>That prawn and avocado salad from the local brasserie might have tasted good at the time, but a homemade cheese and pickle sandwich could be just as tasty at only a fraction of the cost. Packing your own lunch and eating at home are good ways to keep your daily spending in check. Not only can you take advantage of special offers at the supermarket - saving even more money - but you can also eat more healthily.</td>
                <td>Thankfully, second-hand clothes are in fashion these days, so you can hold your head up high in a charity shop. This is a good habit to get into that will save you lots of money and become a great habit for life. You can also find great bargains online, not only on clothes but also furniture and just about anything else you might need – see the 'Bargains and discounts' links on the right.</td>
                <td>it would be understandable for some people to be a bit cynical about student accounts because of the freebies associated with them, but in actual fact they do offer genuine perks to students. The trick is in how you compare the benefits of different student accounts.

First, you have to work out the value - to you personally - of the freebies and goodies that come with it. A free rail card is worth nothing to you if you only ever drive! But, more importantly, compare the interest rates that they pay you when your account is in credit, and compare the interest they take off you when you're over your interest-free overdraft limit. It's easy to compare the sizes of the interest-free overdrafts they offer, but again, it's down to the individual as to how and when you use this facility.</td>
            </tr>
        </table>

        <h2>Making your money last</h2>
        <h3>Work out some shared rules</h3>
        <p>The biggest mistake to make when you're sharing a house or flat is to think that the everyday finances will take care of themselves. They won't, and could, at worst, cause serious arguments. So, take the initiative and hold a money meeting when you first move in - everyone will respect you in the long run.</p>
        <p>Make a list of the consumables that everyone shares, such as tea bags, loo rolls, bin bags and cleaning stuff. Come up with a figure for everyone to put into the kitty every month, e.g. £5. There, job done, one source of bickering well and truly removed.</p>
        <p>Have similar meetings to decide the household approach to other finances, like the phone bill, or perhaps how the rent is split depending on the size of rooms.</p>
        <h2>Spending wisely</h2>
        <h3>Don't splurge</h3>
        <p>When you get your money through at the beginning of term, it's tempting to feel rich and to spend accordingly. Remember, it’s got to last until the next term! Use your willpower, resist the urge to splurge, and you'll reap the benefits at the end of term when your account is still in good standing. That's the time for a well-earned celebration.
As well as using your self-control, at the beginning of term you should put your money into things like books and equipment that you'll need for the year or longer, and which will lock your money away from the things you don't.</p>
        <h2>Bargain hunt</h2>
        <p>Think about what you're going to buy, then think where you might get it the cheapest. It’s worth remembering that special offers are not always as good as they sound. Here are some more bargain hunting tips:</p>

        <ul>

            <li>Become familiar with all the local places that give student discounts.</li>
            <li>Get loyalty cards for everywhere you might ever shop.</li>
            <li>Use an online search engine to find websites that list all the stores and food outlets that currently have promotions.</li>
            <li>Create a 'vouch pouch' where you chuck every voucher you come across and keep it in your bag.</li>
            <li>Then, every time you're on your way to the shops, have a rifle through them to see if you can use any.</li>

        </ul>

        <h2>After university</h2>
        <h3><strong>Graduates – life after study</strong></h3>
        <ul>

            <li><strong>Make a list of all your debts</strong> and start paying them off in order of priority – leaving your student loan till last.</li>
            <li>Plan a weekly budget taking into account how much you’re earning and how much you need to set aside for things like rent, travel, work clothes etc.</li>
            <li>Open a good <strong>graduate account</strong> and find out whether you could save <strong>money on overdraft fees by taking out a graduate loan</strong>.</li>
            <li>Once you’ve paid off your debt, start putting any money you save in a <strong>cash ISA</strong>, which will let you build up tax-free interest.</li>
        </ul>

        <p>When you finish uni, there’s a lot of change. One of the biggest, and most daunting, changes is that you’ll be financially independent.
Graduating is an exciting time, with endless possibilities ahead. Initially your finances might be fragile after a few years of student life, so here are some ways to help you avoid getting into financial difficulties.</p>

        <h2>Make a debt list</h2>
        <p>With the advent of Student Loans, it's perhaps become more usual for students to leave university with debt. In some cases, this can be more than £10,000. This is normal, so don't panic!</p>

        <ul>
            <li>The first step to getting rid of any debt you might have accrued is to take stock by making a full list of what you owe and to whom.</li>
Put         <li>them in order of priority for repayment, with the ones with the highest interest at the top.
Next, have a look at how much money you'll need to get you through the first few months in work.</li>
        </ul>

        <h2>Budgeting and loan repayments</h2>

        <table>
            <tr>
                <th>Create a budget</th>
                <th>Plan your student debt repayment</th>
            </tr>

            <tr>
                <td>Your spending will be different than it's been for a few years now that you're no longer a student. Try to pre-empt what it will be and start putting money aside to chip away at your dearest debts (the ones with the highest interest). Also, plan your budget for everyday things such as travel, work clothes and rent.</td>
                <td>Try to work out how much debt you can pay off each month. Based on this figure, plan how much the debt will reduce over the months or years. Apart from helping you organise your finances, this will mentally give you a tangible goal to work towards.</td>
            </tr>
        </table>

        <h2>Your money after university </h2>
        <table>

            <tr>

                <th><strong>Hunt for the best graduate account</strong></th>
                <th><strong>Start saving </strong></th>
                <th><strong>Leave your student loan until last</strong></th>
            </tr>

            <tr>
                <td>Just because you've been with a certain bank while you were student, doesn't mean you have to stay with them. And although they may have given you the best deal as a student, the deal may not be as good for graduates. Shop around.
As long as you've got a good banking history, can pay off any overdraft, and can prove that you've graduated, you can shop around to find the best account for you. But remember to look beyond the freebies and introductory rates - think long term. Also, weigh up the pros and cons of a graduate loan.</td>
                <td>Once you know where you are with your debt repayments, you can think about saving. A cash ISA could be a good starting point, as you don't have to pay any tax on the interest you earn and you can still get access to your money. You can save up to £5,640 this tax year in cash, but you can save as much as you like as often as it suits you. Even if you just start saving a small amount, it will get you into a good habit.</td>
                <td>A Student Loan is likely to be the cheapest loan you will find anywhere. In fact, when inflation is taken into account, you could almost say that the loan is practically free. So, leave paying it off until other more expensive debts have been paid off first. The Student Loans people won't start chasing you up until you're earning over £15,000 per year, but even then, just pay the minimum off each month if you still have other debts.</td>
            </tr>

        </table>
        <h2>Lloyds ‘On Us’ service</h2>
        <h2>Charges</h2>
        <p>Check what you might be charged for with your respective account. <a href="http://www.lloydsbank.com/rates-and-charges.asp">http://www.lloydsbank.com/rates-and-charges.asp</a></p>
        <h2>Contact Details</h2>
        <p>Twitter: @asklloydsbank</p>
        <p>Got a question? We’re online 24/7</p>
        <ul>
            <li>Get answers to Internet Banking queries</li>
            <li>Receive news and product updates</li>
            <li>Share your feedback and experiences</li>
        </ul>

        <p>Youtube: https://www.youtube.com/channel/UC77Pb6Fe56MV2md41g87VcA<br/>
Twitter: @asklloydsbank<br/>
Facebook: https://www.facebook.com/lloydsbank</p>

    </div>

{% endblock %}