{% extends 'base.html' %}

{% block 'graduate_account' %}

<div class="col-md-12 white_background">
    <h1>Graduate Account</h1>
    <p>Graduate Account at a glance</p>
    <ul>
        <li>Help finding your feet with a tiered interest and fee free Planned Overdraft of up to £2,000 in your first year after graduation, £1,500 in the second year and £1,000 in the third year. All overdrafts are subject to application and approval.</li>
  	    <li>A low-cost graduate loan of up to £10,000 to get you started.</li>
        <li>Easy access to your money with a Lloyds Bank Visa debit card you can use in shops, online, on the phone and to withdraw money at Cashpoint® machines.</li>
        <li>A Classic credit card with a limit of at least £500</li>
        <li>0% commission on foreign currency and non-sterling travellers cheques</li>
    </ul>
    <h2>How to apply</h2>
    <p>To apply for a Graduate Account, just visit a Lloyds Bank branch and we’ll open an account for you.</p>
    <p><strong>To be eligible you must:</strong></p>

        <ul>
            <li>be a permanent UK resident and have confirmation of graduation</li>
            <li>have graduated within the last three years with a degree from a UK-based university</li>
            <li>transfer your current account from your existing bank if you're not already a Lloyds Bank customer.</li>
        </ul>
        <strong>You'll need to bring some things with you:</strong>
        <ul>
            <li>a 10-year passport or driving licence and proof of graduation</li>
 	        <li>a statement from your current bank  or copy of a utility bill dated within the last three months</li>
            <li>bank statements from the past six months and evidence of your overdraft limit</li>
            <li>your current debit card and letter of employment confirming your income (if this isn't included on the statements).</li>
        </ul>
        <a href="{% url 'branch_finder' %}">Find a branch near you</a>
        <p>Contact us</p>
        <p>If you don't have a copy of any of these documents, or have any questions, just call us on <strong>0845 300 0134</strong> between 9am and 7pm Monday to Friday.
Find out what proofs of your identity and your address are acceptable.
        </p>

    <h2>Full features</h2>
    <p>What you get with a graduate account</p>
    <ul>
        <li> A tiered interest and fee free Planned Overdraft, subject to application and approval. In the first year after graduation £2,000 of your Planned Overdraft is interest and fee free, £1,500 in year two, and £1,000 in year three.</li>
        <li> Help finding your feet with a Graduate Loan. As you settle into your new life, you might have to buy something expensive, such as a car or some extra furniture to make a new flat feel like home – a Graduate Loan could help.</li>
        <li><strong>A Lloyds Bank Visa debit</strong> card you can use online and in over 500,000 places in the UK and 27 million places worldwide. It also gives you the freedom to take out money at 62,000 cash machines in the UK, you can use it to get up to £50 cashback where available and to make payments over the phone.</li>
        <li><a href="http://www.lloydsbank.com/current-accounts/debit-cards.asp">See more on debit cards</a></li>
        <li>Help with spreading costs with one of our <stong>credit cards</stong>. Because our cards are accepted in shops, restaurant and hotels around the world, they’re also ideal if you decide to travel. <a href="http://www.lloydsbank.com/credit-cards.asp">Compare Lloyds Bank credit cards</a>.</li>
        <li><strong>Quick, easy ways to manage your money 24 hours a day, 7 days a week</strong> with <a href="http://www.lloydsbank.com/online-banking/internet-banking.asp">Internet Banking</a>, <a href="http://www.lloydsbank.com/banking-with-us/ways-to-bank-with-us/phonebank.asp">PhoneBank®</a> and <a href="http://www.lloydsbank.com/online-banking/mobile-banking.asp">Mobile Banking</a>.</li>
        <li><strong>Free Mobile Banking</strong> so you use your phone to help stay in control of your finances. Mobile Banking comes with a range of text message services including Weekly Balance Alerts. We offer Mobile Banking for free but your mobile operator may charge for certain services, so please check with them. <a href="http://www.lloydsbank.com/online-banking/mobile-banking.asp">See more on Mobile Banking</a>.</li>
        <li>Easy savings with Save the Change™. Just register, and every time you buy something with your Lloyds Bank Visa Debit Card, the amount you spend will be rounded up to the nearest pound and the difference will be transferred from your current account to your nominated Lloyds Bank savings account, provided you are in credit. <a href="http://www.lloydsbank.com/savings/save-the-change.asp">Register for Save the Change™</a>.</li>
        <li>0% commission on foreign currency and non-sterling travellers cheques</li>
    </ul>
    <h2>Switching made easy</h2>
    <p>
        Whether you want to move to Lloyds Bank or you already bank with us and want to open a new account, switching is easy. Our dedicated welcome team will do everything they can to help your switch run smoothly, including transferring all your Direct Debits and standing orders to your new account for you.
We will:
    </p>
    <ul>
        <li>contact your other bank for a list of your Direct Debits and standing orders</li>
        <li>tell you when your transfer is due to complete</li>
        <li>set up your standing orders and ask your service providers to start claiming your Direct Debits from your Lloyds Bank account after your transfer date</li>
        <li>keep you informed of how your switch is progressing and let you know what you need to do and when.</li>

    </ul>

</div>

{% endblock %}