{% extends 'base.html' %}

{% block 'legal' %}
    <div class="col-md-12 white_background">
         <h1><strong>Important legal information</strong></h1>
<p>Lloyds Bank plc Registered Office: 25 Gresham Street, London EC2V 7HN. Registered in England and Wales No.2065. Telephone: 020 7626 1500. Authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority. We also subscribe to The Lending Code. Details can be obtained from www.lendingstandardsboard.org.uk.</p>

<p>Lloyds Bank plc Registered Office: 25 Gresham Street, London EC2V 7HN. Registered in England and Wales No. 2065.</p>

<p>Save the Change® is a registered trademark of Lloyds Bank plc</p>

<p>PhoneBank® is a registered trademark of Lloyds Bank plc</p>

<p>Money Manager is provided to help you manage your personal finances and is not intended to provide legal, tax or financial advice. Personal Internet Banking customers only. Terms and conditions apply. Mobile Banking services may be affected by phone signal and functionality. Must be registered for Internet Banking. Terms and conditions apply.</p>

    </div>
{% endblock %}