{% extends 'base.html' %}

{% block 'student_account' %}

<div class="col-md-12 white_background" style="margin-left:10px;">
    <h1 style="color:#2fb582">Student Account</h1>
    <p><strong>Make the most out of student life with a Lloyds Bank Student Account.</strong></p>
    <p>Our Student Bank Account is packed with everything you need to help you make the most of your time at university and manage your money. It was recently awarded “Student Account Provider of the Year” by Moneyfacts.
    </p>
    <p><strong>At a glance</strong></p>
    <ul>
        <li>Interest and fee free tiered Planned Overdraft of up to £1,500 in years 1-3 and up to £2,000 in years 4-6, (subject to application status and approval – you must be 18 or over to apply).
</li>
        <li>Earn up to 15% with Everyday Offers and the chance to win one of your purchases back up to the value of £500 on a monthly basis with It’s on Us (Internet Banking registration required. You must be aged 18 or over).</li>

        <li>Option to apply for a Student Mastercard® Credit Card (subject to application status and approval – you must be 18 or over to apply).
</li>
        <li>Earn up to 15% with Everyday Offers and the chance to win one of your purchases back up to the value of £500 on a monthly basis with It’s on Us (Internet Banking registration required. </li>
    </ul>

    <h2>How to apply</h2>
    <p><strong>In branch</strong></p>
    <p>You can apply for a Student Bank Account at any of our branches.
Whichever way you choose to apply you will need to visit a branch to show us your UCAS confirmation letter or a letter from your university or college confirming your place.
If you aren't already a Lloyds Bank customer you will also need to take a piece of ID such as a driving licence or passport and also proof of address (anything official with your name on it that’s less than three months old, except a mobile phone bill) into a branch.
To be eligible for a Student Account you'll need to:
</p>
<ul>
    <li>be a permanent UK resident for the past 3 years,
</li>
    <li>be aged 17 or older</li>
    <li>confirm that you are studying full time on an eligible course of at least 2 years' duration, or a one year full time access course leading to a degree.</li>
</ul>

    <h1>Existing customers</h1>
    <p>If you’re already a Lloyds Bank customer and you want to change your existing account to a Student Account or open a new Student Account you can do this at any of our branches. All you need is your UCAS confirmation letter or a letter from your university or college confirming your place.
</p>
    <p>If you are already at university you can do this at any time. If you are due to start your course in the 2013/14 academic year you can open an account from 1st August (even if you already have a confirmed place before this time).
</p>
    <h1>On the phone</h1>
    <p>To make an appointment at your local branch, call us on 0845 3 000 000. We’re open 24 hours a day, 7 days a week, even on bank holidays. We’ll be happy to help.
</p>
<h2>Full features</h2>
    <p>What you get with a Lloyds Bank Student Account
Up to £1,500 interest and fee free tiered Planned Overdraft
In the first year of your studies you can apply for an interest and fee-free tiered Planned Overdraft up to £1,500, starting with £500 for the first six months.
You can then apply to increase it to £1,000 in months seven to nine and from month 10 up to £1,500.
We also offer an interest and fee-free Planned Overdraft of up to £1,500 in years two and three and up to £2,000 in years four, five and six.
All overdrafts are subject to application, status and approval. You need to be 18 to apply.</p>
    <p>Everyday Offers and It's On Us</p>
    <p>Earn cash back of up to 15% using offers at the type of places you shop regularly. To register and see any offers waiting for you, log onto Internet Banking and select “Everyday Offers” in the “Your account tools” section of “Your accounts”.</p>
    <p>Lloyds Bank Visa debit card</p>
    <p>You can use your Lloyds Bank Visa debit card in shops and online in over 27 million outlets worldwide . It also gives you the freedom to take out money at 62,000 cash machines in the UK. You can  can also use it to get up to £50 cashback at most supermarkets.</p>
    <p>Lloyds Bank Student Credit Card*</p>
    <p>Option to apply for a Lloyds Bank Student Credit Card for an extra financial helping hand while you are studying.
Find out more about the Lloyds Bank Student Credit Card</p>
    <h2>FAQ</h2>
    <p><strong>How do I get access to the NUS extra discounts?</strong></p>
    <p>To benefit from the free NUS extra card offer all you need to do is open your Student Account between 04/08/14 - 12/10/14. We'll then write to you with your unique promotional code and details of how to apply for your first free card. Letters will be sent out at the beginning of September or within 15 days of account opening if you opened your account after this time. After you've applied for your card, you'll immediately be able to access the online NUS extra discounts in the "Track my Card" section under "My Account" at www.nus.org.uk and the full range of discounts once your card arrives.</p>
    <p><strong>When will my free NUS extra card be valid until?</strong></p>
    <p>Your free NUS extra card will be valid until 30 September annually regardless of when you apply for it. Providing you still hold your student account around the beginning of September the NUS will send you an email (to the email address you provided to them the first time you registered for a free card) with details of how to renew your card for a second or third and final time.</p>
    <p><span>How do I renew my free NUS extra card?</span></p>
    <p>The free NUS extra card offer is a free card for up to three years only. If you previously registered for a free NUS extra card and you still hold your Student Account you will receive a renewal invitation by email from the NUS around the beginning of September. This will be sent to the email address you provided to them the first time you registered for a free card and will contain details of how to renew your card for a second or third and final time.
Please note that you will need to ensure you use the promotional code allocated to you each year, if you don't use it by 31 December you will not be eligible to apply for a card in subsequent years. If you've not received your renewal email from the NUS please check your spam and junk mail folders. If you still can't see it or you have lost the email please contact the NUS who will be able to help. The free NUS extra card is for a free card for up to three years only.</p>
    <h2>Overdraft Rates</h2>
    <table>
        <tr>
            <th>Student Account</th>
            <th>% Per Month</th>
            <th>% EAR</th>
        </tr>

        <tr>
            <td>Year 1 Months 1-6: £0 - £500 </td>
            <td>0</td>
            <td>0</td>
        </tr>


        <tr>
            <td>Year 1 Months 1-6: £500+</td>
            <td>0.66</td>
            <td>8.21</td>
        </tr>


        <tr>
            <td>Year 1 Months 7-9: £0 - £1000</td>
            <td>0</td>
            <td>0</td>
        </tr>


        <tr>
            <td>Year 1 Months 7-9: £1000+</td>
            <td>0.66</td>
            <td>8.21</td>
        </tr>


        <tr>
            <td>Year 1 Months 10-12: £0 - £1500</td>
            <td>0</td>
            <td>0</td>
        </tr>


        <tr>
            <td>Year 1 Months 10-12: £1500+</td>
            <td>0.66</td>
            <td>8.21</td>
        </tr>


        <tr>
            <td>Year 2: £0 - £1500</td>
            <td>0</td>
            <td>0</td>
        </tr>


        <tr>
            <td>Year 2: £1500+</td>
            <td>0.66</td>
            <td>8.21</td>
        </tr>


        <tr>
            <td>Year 3: £0 - £1500</td>
            <td>0</td>
            <td>0</td>
        </tr>

        <tr>
            <td>Year 3: £1500+</td>
            <td>0.66</td>
            <td>8.21</td>
        </tr>

        <tr>
            <td>Year 4,5 & 6: £0 - £2000</td>
            <td>0</td>
            <td>0</td>
        </tr>

         <tr>
            <td>Year 4,5 & 6: £2000+</td>
            <td>0.66</td>
            <td>8.21</td>
        </tr>

    </table>
    <p>These interest rates are correct as at 12/11/2013.</p>
    <h2>Switching made easy</h2>
    <p>Whether you want to move to Lloyds Bank or you already bank with us and want to open a new account, switching is easy . Our dedicated welcome team will do everything they can to help your switch run smoothly, including transferring all your Direct Debits and standing orders to your new account for you.
<br/>
We will:
    </p>

    <ul>
        <li>	contact your other bank for a list of your Direct Debits and standing orders</li>
 	    <li>tell you when your transfer is due to complete</li>
        <li>set up your standing orders and ask your service providers to start claiming your Direct Debits from your Lloyds Bank account after your transfer date</li>
    </ul>
    <a href="http://www.lloydsbank.com/banking-with-us/joining-lloyds/how-to-switch.asp">Find out how to switch</a>
    <h2>Terms and conditions</h2>
    <a href="http://www.lloydsbank.com/assets/media/pdfs/personal_banking_terms_and_conditions.pdf">Personal banking terms and conditions</a><br/>
    <a href="http://www.lloydsbank.com/assets/media/pdfs/current-accounts/student_account_welcome_pack.pdf">Student Welcome Pack</a><br/>
    <a href="http://www.lloydsbank.com/rates/current-accounts.asp">Student account overdraft interest rates</a><br/>
    <a href="http://www.lloydsbank.com/assets/media/pdfs/current-accounts/Banking_charges_guide.pdf">Banking Charges Guide</a><br/>


</div>

{% endblock %}